<a href="https://colab.research.google.com/github/Benza1611/data_viz_2022/blob/main/Final_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# กลุ่ม Final 
##ชื่อกลุ่ม laughing-hyena

1.นางสาวเบญญาภา ระภูเขียว  623020527-6

2.นางสาว ขนิษฐา ภูโสภา  623021042-5

3.นายวิฆเนศ เกียรติเกษมสุข  623021055-6

# โจทย์
ให้นักศึกษาสร้าง Dashboard แสดงรายงานเกี่ยวกับข้อมูลการตรวจโรค(ov) จาก ไฟล์ alldb.csv และ hospital_list.xlsx
( ดาวน์โหลดจาก https://drive.google.com/.../1D... )
โดยข้อมูลหลักจะอยู่ใน ตาราง alldb.csv (ข้อมูลที่สมบูรณ์ที่สามารถนำมาใช้งานได้ต้องมีค่าใน column ต่อไปนี้ดังนี้

 * user เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)
 * RowKey เป็น String
 * date เป็น YYYY-MM-DD
 * phone เป็น String
 * site เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)
 * time เป็น hh-mm-ss
 * urine มีค่า String
 * ov เป็นตัวเลข มีค่าตั้งแต่ 0-4 (0 คือไม่พบโรค 1-4 คือพบโรคที่ระดับความรุนแรงต่างๆ)
 * PartitionKey เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น))

ไฟล์ alldb.csv และ hospital_list.xlsx สามารถถูกเชื่อมโยงกันโดย site ในไฟล์ alldb.csv คือ hcode ในไฟล์ hospital_list.xlsx
โดยข้อมูลสำคัญที่ต้องแสดงคือ
 * จำนวนการตรวจในแต่ละพื้นที่ (จังหวัด-อำเภอ ในไฟล์ hospital_list.xlsx) เทียบกับ จำนวนที่พบโรค (column ov ในไฟล์ alldb.csv)
 * ช่วงเวลาที่ตรวจ (date ในไฟล์ alldb.csv)
อื่นๆที่นักศึกษาเห็นว่าเป็นประโยชน์ (phone
 * (ชนิดโทรศัพท์ที่ใช้บันทึก), title (คำนำหน้าชื่อ), age (อายุ))

(คิดคะแนนตามกลุ่ม final โดยไฟล์ที่ทุกคนในกลุ่มต้องมีคือไฟล์ data pre-processing และ link ไปที่ Dashboard ที่สร้่างโดยเปิดให้สามารถเข้าไปดูและใช้งานได้)
ส่งไม่เกิน 23.59 วันจันทร์ที่ 11 เมษายน 2565

#วิธีทำ
**เรียกใช้ฟังก์ชั่น**

In [1]:
import pandas as pd #เพื่อใช้ทำงานกับข้อมูลที่เป็นรูปแบบตาราง
import os           #เพื่อจัดการกับไฟล์ และ ตัว path ที่เราจะนำเข้า
import matplotlib
from matplotlib import pyplot as plt

#นำเข้าไฟล์

In [2]:
from google.colab import drive 
drive.mount('/content/drive')  #เชื่อมข้อมูล เพราะเราจะทำการนำเข้าข้อมูล โดยให้ดึงมาจาก google drive ของเรา
path = '/content/drive/My Drive/Final_2022'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
path = '/content/drive/My Drive/Final_2022'

##ตารางที่ 1

In [4]:
data1 = pd.read_csv(os.path.join(path,'alldb.csv'))
data1

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
0,0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,NaN,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
4,4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,NaN,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40030,40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,NaN,"iPhone13,4",01234,NaN,NaN,5,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,NaN,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),5,เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,NaN,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed
40033,40033,NaN,bbuogxulur.png,NaN,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,1,เสรี,data is not completed,data is not completed
40034,40034,NaN,zttpqogiso.png,NaN,NaN,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed

In [5]:
data1.shape #ตรวจสอบขนาด

(40035, 14)

เนื่องจากข้อมูลมีจำนวนมาก แต่เราไม่ได้ใช้ทั้งหมด เพื่อง่ายต่อการทำ prepocessing ดังนั้นจะตัดมาแค่ข้อมูลที่ต้องการใช้จริงๆ ตามโจทย์

### ตรวจสอบ NaN และ Missing

In [6]:
data1.isnull().any()  # ตรวจสอบหาค่า missing
#.isnull() เพื่อระบุว่ามีค่า Null หรือไม่

Unnamed: 0      False
user             True
RowKey           True
care             True
date             True
ov               True
phone            True
site             True
time             True
urine            True
pid              True
PartitionKey     True
title            True
age              True
dtype: bool

จากผลเราจะพิจารณาจากการอ่านค่า True และ False ถ้า True คือ มีค่า missing ดังนั้น จะเห็นได้ว่าข้อมูลมีค่า missing เกือบในทุกคอลัมน์ ดังนั้น สามารถอนุมานได้เลยว่า ข้อมูลมีค่า missing จำนวนมาก จึงไม่เหมาะกับตัดข้อมูล หรือ .dropna
จึงพิจารณาให้ใช้วิธีแทนค่าเฉพาะคอลัมน์ข้อมูลที่เราต้องการใช้

# Data Preprocessing

In [7]:
data = data1[['user','RowKey','date','ov','phone','site','time','urine','PartitionKey','title','age']]
data

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,data is not completed,data is not completed
2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,data is not completed,data is not completed
4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,"iPhone13,4",01234,NaN,NaN,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),เสรี,data is not completed,data is not completed
40033,NaN,bbuogxulur.png,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,เสรี,data is not completed,data is not completed
40034,NaN,zttpqogiso.png,NaN,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),เสรี,data is not completed,data is not completed

In [8]:
data_drop = data.dropna()
data_drop

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
186,45-161,D2CABB8C-533B-450A-AFA6-B693749CC1C6,2022-02-23,0,"iPhone11,8",04312,09:45:28,ปกติ (เหลืองใส),0-1528,data is not completed,data is not completed
187,45-161,57A5F06C-C840-49EA-9514-A30D3C897CC8,2022-02-23,0,"iPhone11,8",04312,10:06:45,ปกติ (เหลืองใส),0-1544,data is not completed,data is not completed
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,0,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0000,data is not completed,data is not completed
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),00001,นาง,41
...,...,...,...,...,...,...,...,...,...,...,...
40013,ttest,crqcufokmn.png,2022-02-21,2,Samsung SM-G998B,test,14:23:45,ขุ่น,x001,data is not completed,data is not completed
40014,ttest,gzxgflnowr.png,2022-02-21,2,Samsung SM-G998B,test,14:23:43,ขุ่น,x001,data is not completed,data is not completed
40016,xxx,jytlopevha.png,2022-02-17,3,Samsung SM-N950F,xxx,00:01:06,ปกติ (เหลืองใส),xxx,data is not completed,data is not completed
40022,yyy,ivccsksowb.png,2022-02-17,2,Samsung SM-N950F,yyy,08:41:05,มีเม็ดเลือดแดง,yyy,data is not completed,data is not completed
40023,zzz,psudrnccsh.png,2022-02-17,2,Samsung SM-N950F,zzz,08:41:04,มีตะกอน,zzz,data is not completed,data is not completed

In [9]:
data_drop = data_drop[(data_drop['PartitionKey'].astype(str).str.isdigit()) & (data_drop['PartitionKey'].str.len() == 5)]      # เลือกมาเฉพาะ คอลัมน์ PartitionKey ที่เป็นตัวเลข & มีตัวเลข เท่ากับ 5 ตัว
print(data_drop.shape)                                                                            
data_drop.head()

(37772, 11)

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),00001,นาย,66
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",06334,14:57:41,ปกติ (เหลืองใส),00001,นางสาว,50

In [10]:
set(data_drop['PartitionKey'])

{'01049',
 '02298',
 '03200',
 '02484',
 '00001',
 '00605',
 '00281',
 '00941',
 '01120',
 '02714',
 '01432',
 '00451',
 '00585',
 '01212',
 '01209',
 '01088',
 '01053',
 '04673',
 '03319',
 '00051',
 '00126',
 '00984',
 '06060',
 '02256',
 '04626',
 '00983',
 '00352',
 '02284',
 '03445',
 '02348',
 '02848',
 '01771',
 '00150',
 '01716',
 '00911',
 '05141',
 '02180',
 '04100',
 '04624',
 '04651',
 '02271',
 '02254',
 '00742',
 '05129',
 '02918',
 '08913',
 '01775',
 '01045',
 '01932',
 '03398',
 '01937',
 '01914',
 '08971',
 '01726',
 '02038',
 '00142',
 '02421',
 '00235',
 '04193',
 '10998',
 '02063',
 '00366',
 '04685',
 '05235',
 '02407',
 '00945',
 '02220',
 '02630',
 '00406',
 '02327',
 '01379',
 '03351',
 '00357',
 '10972',
 '01450',
 '08947',
 '00487',
 '02173',
 '02459',
 '01056',
 '01245',
 '00638',
 '09016',
 '03156',
 '00375',
 '00819',
 '01107',
 '10969',
 '02152',
 '04636',
 '00729',
 '00424',
 '01469',
 '01632',
 '01713',
 '01158',
 '00285',
 '02232',
 '01404',
 '00214',
 '01078',
 '01464',
 '02841',
 '01182',
 '00943',
 '00028',
 '02932',
 '00633',
 '01373',
 '00865',
 '02653',
 '00176',
 '01418',
 '02279',
 '04621',
 '00094',
 '00044',
 '02223',
 '00091',
 '00092',
 '00905',
 '01707',
 '02710',
 '00923',
 '01202',
 '01481',
 '02555',
 '04038',
 '10965',
 '02170',
 '00938',
 '02866',
 '03358',
 '03950',
 '02824',
 '00737',
 '00558',
 '04662',
 '04697',
 '00657',
 '00403',
 '10996',
 '01723',
 '00199',
 '00269',
 '02559',
 '02802',
 '00381',
 '01016',
 '00566',
 '01335',
 '00921',
 '01709',
 '00807',
 '01985',
 '06037',
 '04642',
 '00388',
 '01279',
 '03304',
 '00169',
 '02085',
 '00647',
 '00586',
 '00415',
 '01663',
 '04649',
 '00482',
 '02481',
 '01964',
 '02854',
 '06725',
 '09022',
 '01189',
 '00512',
 '06046',
 '00797',
 '02216',
 '00575',
 '00917',
 '09004',
 '01528',
 '02639',
 '01465',
 '02933',
 '03535',
 '08945',
 '03287',
 '01998',
 '00741',
 '03366',
 '01710',
 '05128',
 '00767',
 '01455',
 '01718',
 '01981',
 '00409',
 '04191',
 '02566',
 '01119',
 '02403',
 '02424',
 '05244',
 '02547',
 '00310',
 '00378',
 '00697',
 '00526',
 '00794',
 '00928',
 '01473',
 '02205',
 '00249',
 '01322',
 '03909',
 '00995',
 '09002',
 '05988',
 '05989',
 '01624',
 '02489',
 '04012',
 '01880',
 '01546',
 '01157',
 '00937',
 '00600',
 '00674',
 '01388',
 '01216',
 '01779',
 '02258',
 '02936',
 '00283',
 '00497',
 '00507',
 '01607',
 '03039',
 '05232',
 '00887',
 '01074',
 '02496',
 '01184',
 '06185',
 '00873',
 '00079',
 '06014',
 '01549',
 '03391',
 '01692',
 '05101',
 '01066',
 '03438',
 '09007',
 '01899',
 '04667',
 '02354',
 '00229',
 '00752',
 '02763',
 '00534',
 '01219',
 '00755',
 '01863',
 '01799',
 '04059',
 '01329',
 '01534',
 '02643',
 '02610',
 '00522',
 '01083',
 '01091',
 '03461',
 '02068',
 '02760',
 '00930',
 '02377',
 '05096',
 '05830',
 '00362',
 '02207',
 '00542',
 '01550',
 '01587',
 '01122',
 '01355',
 '00132',
 '00892',
 '01098',
 '01165',
 '03128',
 '08918',
 '10974',
 '05223',
 '01328',
 '03222',
 '08955',
 '08951',
 '01277',
 '03395',
 '00810',
 '02827',
 '00727',
 '02409',
 '04652',
 '01717',
 '01300',
 '01347',
 '00489',
 '05263',
 '01813',
 '03107',
 '00665',
 '01390',
 '08908',
 '01241',
 '08905',
 '01239',
 '01018',
 '03389',
 '01276',
 '05965',
 '02025',
 '01397',
 '03278',
 '02519',
 '00663',
 '00589',
 '00101',
 '00282',
 '01802',
 '02925',
 '03949',
 '08572',
 '02850',
 '01962',
 '02926',
 '00401',
 '00868',
 '01269',
 '00543',
 '00240',
 '01579',
 '02988',
 '00693',
 '00832',
 '00666',
 '00721',
 '02912',
 '00627',
 '05715',
 '00027',
 '00613',
 '02301',
 '02383',
 '00120',
 '02915',
 '08596',
 '08978',
 '02993',
 '04812',
 '02488',
 '03403',
 '01958',
 '04101',
 '08948',
 '01298',
 '01438',
 '01547',
 '04253',
 '00050',
 '00256',
 '00420',
 '05098',
 '02938',
 '00006',
 '00519',
 '01754',
 '00876',
 '00138',
 '02222',
 '05127',
 '00637',
 '01603',
 '02050',
 '00036',
 '00563',
 '00340',
 '02064',
 '02755',
 '01781',
 '02956',
 '01407',
 '01483',
 '02480',
 '01655',
 '02231',
 '06729',
 '03098',
 '00261',
 '03154',
 '02825',
 '00603',
 '00538',
 '00611',
 '03312',
 '03325',
 '00745',
 '02042',
 '02676',
 '00946',
 '01425',
 '02069',
 '11005',
 '01437',
 '01864',
 '00676',
 '03237',
 '03142',
 '02985',
 '00749',
 '00830',
 '01378',
 '01679',
 '04630',
 '05992',
 '04014',
 '01852',
 '01480',
 '01765',
 '03511',
 '00610',
 '03399',
 '04106',
 '05724',
 '00716',
 '00804',
 '00770',
 '08950',
 '00792',
 '00157',
 '05247',
 '01725',
 '02099',
 '02405',
 '00389',
 '01678',
 '05959',
 '00303',
 '00448',
 '00816',
 '00513',
 '03179',
 '05962',
 '02363',
 '01612',
 '00551',
 '01618',
 '01248',
 '02142',
 '04019',
 '00636',
 '00077',
 '00870',
 '01793',
 '01195',
 '03512',
 '03211',
 '09043',
 '12285',
 '01722',
 '01705',
 '01767',
 '08904',
 '01285',
 '03003',
 '01377',
 '03048',
 '01721',
 '01572',
 '03096',
 '02200',
 '02671',
 '01563',
 '01319',
 '08988',
 '01439',
 '01340',
 '00677',
 '02073',
 '02287',
 '00347',
 '03331',
 '01821',
 '01666',
 '02049',
 '04668',
 '01054',
 '00143',
 '01371',
 '00891',
 '02826',
 '01324',
 '00377',
 '00453',
 '01691',
 '01500',
 '00884',
 '03472',
 '00210',
 '03292',
 '00034',
 '02176',
 '03014',
 '03099',
 '01640',
 '08977',
 '03345',
 '02175',
 '00829',
 '02402',
 '01972',
 '03400',
 '00587',
 '03373',
 '01658',
 '00414',
 '00391',
 '02844',
 '03804',
 '01978',
 '01982',
 '00080',
 '02439',
 '01776',
 '00284',
 '00539',
 '10999',
 '02752',
 '00717',
 '00918',
 '00299',
 '01562',
 '02437',
 '05290',
 '01843',
 '03126',
 '01372',
 '00478',
 '01846',
 '04660',
 '00934',
 '01162',
 '02951',
 '03217',
 '01752',
 '02882',
 '04730',
 '08927',
 '05780',
 '02304',
 '04694',
 '01815',
 '04688',
 '04090',
 '00672',
 '02669',
 '06047',
 '02962',
 '11000',
 '01910',
 '02509',
 '02952',
 '02683',
 '01873',
 '08975',
 '01444',
 '08963',
 '02950',
 '02640',
 '02847',
 '01227',
 '03506',
 '03546',
 '08993',
 '00314',
 '01178',
 '02268',
 '02550',
 '03002',
 '03954',
 '03145',
 '01801',
 '05960',
 '01980',
 '00419',
 '02143',
 '02404',
 '00145',
 '02896',
 '01261',
 '00049',
 '04646',
 '02165',
 '00976',
 '00979',
 '01187',
 '01617',
 '01961',
 '05124',
 '01207',
 '03454',
 '08942',
 '01856',
 '06007',
 '02879',
 '00341',
 '08961',
 '03234',
 '00432',
 '01504',
 '00715',
 '03980',
 '05094',
 '09042',
 '03071',
 '02601',
 '00331',
 '01175',
 '01724',
 '01173',
 '00020',
 '05238',
 '03362',
 '01127',
 '00334',
 '00433',
 '02244',
 '02922',
 '03008',
 '00850',
 '01015',
 '01278',
 '00129',
 '03178',
 '01552',
 '04738',
 '00791',
 '02884',
 '00787',
 '02971',
 '06059',
 '01742',
 '01025',
 '05259',
 '03181',
 '00547',
 '00335',
 '01327',
 '00099',
 '08990',
 '00962',
 '00363',
 '00607',
 '02958',
 '01970',
 '02333',
 '03218',
 '05114',
 '00461',
 '00521',
 '03354',
 '02917',
 '02532',
 '02728',
 '00659',
 '01231',
 '04785',
 '03165',
 '01588',
 '00481',
 '00152',
 '00330',
 '00784',
 '00981',
 '01741',
 '02880',
 '00380',
 '01733',
 '01973',
 '00651',
 '05958',
 '01031',
 '00932',
 '00588',
 '01331',
 '08954',
 '05233',
 '00853',
 '08917',
 '02886',
 '03054',
 '02451',
 '00762',
 '01877',
 '00505',
 '02188',
 '02056',
 '00111',
 '01326',
 '01734',
 '05105',
 '06062',
 '08969',
 '03527',
 '00661',
 '01631',
 '01874',
 '01339',
 '02846',
 '00751',
 '02396',
 '00517',
 '03078',
 '02593',
 '01417',
 '05122',
 '01101',
 '05342',
 '02878',
 '01887',
 '01560',
 '01764',
 '01885',
 '00217',
 '00402',
 '09000',
 '04136',
 '00631',
 '02442',
 '02852',
 '01966',
 '00553',
 '01878',
 '01338',
 '01020',
 '00760',
 '01069',
 '03334',
 '01594',
 '00139',
 '04188',
 '09017',
 '10966',
 '01297',
 '01325',
 '03093',
 '02467',
 '02872',
 '00780',
 '02247',
 '00394',
 '01242',
 '02021',
 '02694',
 '00982',
 '04655',
 '02791',
 '00927',
 '04788',
 '00289',
 '01984',
 '05139',
 '01737',
 '00931',
 '01430',
 '00016',
 '05227',
 '06008',
 '01442',
 '00105',
 '00297',
 '00320',
 '01838',
 '02341',
 '00726',
 '01835',
 '04087',
 '00175',
 '01589',
 '04645',
 '06038',
 '00713',
 '00336',
 '00750',
 '01263',
 '00345',
 '02199',
 '03386',
 '00500',
 '02651',
 '11003',
 '03072',
 '03397',
 '04054',
 '01689',
 '00002',
 '08916',
 '01922',
 '00224',
 '02061',
 '04639',
 '02746',
 '03483',
 '00952',
 '03065',
 '01952',
 '02011',
 '03521',
 '01226',
 '03329',
 '00878',
 '01341',
 '02510',
 '01133',
 '02889',
 '01002',
 '01527',
 '03824',
 '02355',
 '01317',
 '01033',
 '09024',
 '01840',
 '00885',
 '04008',
 '04735',
 '01460',
 '02965',
 '06721',
 '01514',
 '01760',
 '00434',
 '01920',
 '02097',
 '02116',
 '03033',
 '02076',
 '00907',
 '03593',
 '00565',
 '00664',
 '03425',
 '01000',
 '00838',
 '02001',
 '02139',
 '01196',
 '01850',
 '00601',
 '03405',
 '00759',
 '06033',
 '05104',
 '03322',
 '01292',
 '00206',
 '02803',
 '01360',
 '01238',
 '00007',
 '00024',
 '00322',
 '05123',
 '02719',
 '05318',
 '08972',
 '00805',
 '01038',
 '05267',
 '02351',
 '00279',
 '00736',
 '00073',
 '00372',
 '01585',
 '02253',
 '02356',
 '02670',
 '01264',
 '02742',
 '03295',
 '01497',
 '05721',
 '03441',
 '02677',
 '00812',
 '03067',
 '05976',
 '00886',
 '05228',
 '04654',
 '01948',
 '02495',
 '00439',
 '01704',
 '00086',
 '02507',
 '00035',
 '03141',
 '03464',
 '03361',
 '08991',
 '00504',
 '02006',
 '03055',
 '01747',
 '00536',
 '09030',
 '02033',
 '02329',
 '00454',
 '10980',
 '01816',
 '01117',
 '01935',
 '06013',
 '03970',
 '00159',
 '01259',
 '10976',
 '01296',
 '02477',
 '00712',
 '00703',
 '02504',
 '06034',
 '01670',
 '01811',
 '03433',
 '03408',
 '00555',
 '02071',
 '00756',
 '02189',
 '02632',
 '01695',
 '04635',
 '01330',
 '02807',
 '02024',
 '08989',
 '00457',
 '01703',
 '00011',
 '02983',
 '03106',
 '04777',
 '01174',
 '00222',
 '08928',
 '01017',
 '01911',
 '02262',
 '03016',
 '01574',
 '04665',
 '05189',
 '03269',
 '01386',
 '00862',
 '03381',
 '00642',
 '09031',
 '00200',
 '01351',
 '04186',
 '02919',
 '02770',
 '02990',
 '06044',
 '00936',
 '00722',
 '01254',
 '00535',
 '02009',
 '00620',
 '02561',
 '00883',
 '03053',
 '01924',
 '02257',
 '00817',
 '00405',
 '00477',
 '01650',
 '02233',
 '09037',
 ...}

In [11]:
data_drop = data_drop[(data_drop['site'].astype(str).str.isdigit()) & (data_drop['site'].str.len() == 5)]      # เลือกมาเฉพาะ คอลัมน์ site ที่เป็นตัวเลข & มีตัวเลข เท่ากับ 5 ตัว
print(data_drop.shape)                                                                            
data_drop.head()

(37764, 11)

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),00001,นาย,66
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",06334,14:57:41,ปกติ (เหลืองใส),00001,นางสาว,50

In [12]:
set(data_drop['site'])

{'00027',
 '00040',
 '00513',
 '00579',
 '00580',
 '02759',
 '03432',
 '03626',
 '04275',
 '04279',
 '04280',
 '04281',
 '04302',
 '04312',
 '04313',
 '04321',
 '04322',
 '04326',
 '04337',
 '04347',
 '04349',
 '04351',
 '04352',
 '04355',
 '04374',
 '04376',
 '04380',
 '04384',
 '04387',
 '04388',
 '04390',
 '04391',
 '04396',
 '04399',
 '04401',
 '04402',
 '04403',
 '04404',
 '04405',
 '04406',
 '04407',
 '04408',
 '04433',
 '04434',
 '04435',
 '04436',
 '04437',
 '04438',
 '04441',
 '04443',
 '04455',
 '04456',
 '04457',
 '04458',
 '04475',
 '04478',
 '04558',
 '04936',
 '04968',
 '04970',
 '04971',
 '04973',
 '04974',
 '04977',
 '04980',
 '04981',
 '04982',
 '04983',
 '04984',
 '04985',
 '04986',
 '04989',
 '04990',
 '04992',
 '04993',
 '04994',
 '04995',
 '04996',
 '04997',
 '04999',
 '05000',
 '05001',
 '05002',
 '05003',
 '05004',
 '05005',
 '05006',
 '05007',
 '05008',
 '05009',
 '05010',
 '05011',
 '05012',
 '05013',
 '05015',
 '05016',
 '05019',
 '05021',
 '05022',
 '05023',
 '05024',
 '05025',
 '05026',
 '05027',
 '05028',
 '05029',
 '05032',
 '05033',
 '05034',
 '05035',
 '05038',
 '05040',
 '05042',
 '05044',
 '05045',
 '05047',
 '05048',
 '05049',
 '05052',
 '05054',
 '05055',
 '05058',
 '05059',
 '05060',
 '05061',
 '05062',
 '05063',
 '05064',
 '05065',
 '05066',
 '05067',
 '05068',
 '05069',
 '05072',
 '05074',
 '05075',
 '05077',
 '05079',
 '05080',
 '05081',
 '05082',
 '05083',
 '05084',
 '05086',
 '05087',
 '05088',
 '05090',
 '05091',
 '05094',
 '05097',
 '05098',
 '05100',
 '05101',
 '05102',
 '05103',
 '05107',
 '05111',
 '05112',
 '05113',
 '05115',
 '05116',
 '05117',
 '05119',
 '05120',
 '05123',
 '05125',
 '05126',
 '05128',
 '05129',
 '05131',
 '05132',
 '05133',
 '05135',
 '05136',
 '05141',
 '05143',
 '05144',
 '05146',
 '05147',
 '05152',
 '05154',
 '05157',
 '05158',
 '05162',
 '05166',
 '05172',
 '05173',
 '05175',
 '05177',
 '05178',
 '05180',
 '05181',
 '05182',
 '05185',
 '05187',
 '05188',
 '05192',
 '05193',
 '05194',
 '05195',
 '05196',
 '05198',
 '05200',
 '05203',
 '05205',
 '05207',
 '05210',
 '05211',
 '05213',
 '05214',
 '05215',
 '05219',
 '05220',
 '05222',
 '05223',
 '05224',
 '05225',
 '05226',
 '05228',
 '05229',
 '05233',
 '05236',
 '05237',
 '05238',
 '05240',
 '05242',
 '05244',
 '05245',
 '05246',
 '05247',
 '05248',
 '05249',
 '05250',
 '05251',
 '05252',
 '05253',
 '05254',
 '05255',
 '05256',
 '05257',
 '05258',
 '05259',
 '05260',
 '05261',
 '05264',
 '05265',
 '05291',
 '05298',
 '05300',
 '05304',
 '05310',
 '05311',
 '05312',
 '05313',
 '05314',
 '05315',
 '05316',
 '05322',
 '05323',
 '05324',
 '05325',
 '05327',
 '05328',
 '05332',
 '05335',
 '05337',
 '05338',
 '05339',
 '05340',
 '05343',
 '05344',
 '05345',
 '05346',
 '05349',
 '05350',
 '05351',
 '05352',
 '05354',
 '05355',
 '05356',
 '05357',
 '05358',
 '05359',
 '05360',
 '05361',
 '05363',
 '05365',
 '05366',
 '05367',
 '05368',
 '05370',
 '05371',
 '05373',
 '05378',
 '05386',
 '05391',
 '05392',
 '05393',
 '05394',
 '05395',
 '05396',
 '05413',
 '05414',
 '05415',
 '05416',
 '05418',
 '05419',
 '05422',
 '05423',
 '05424',
 '05425',
 '05428',
 '05431',
 '05432',
 '05433',
 '05434',
 '05435',
 '05436',
 '05437',
 '05439',
 '05440',
 '05441',
 '05442',
 '05541',
 '06238',
 '06251',
 '06253',
 '06254',
 '06255',
 '06256',
 '06257',
 '06259',
 '06260',
 '06261',
 '06263',
 '06265',
 '06267',
 '06268',
 '06270',
 '06271',
 '06272',
 '06273',
 '06274',
 '06275',
 '06276',
 '06277',
 '06278',
 '06279',
 '06280',
 '06281',
 '06282',
 '06283',
 '06285',
 '06286',
 '06287',
 '06288',
 '06289',
 '06290',
 '06291',
 '06292',
 '06293',
 '06294',
 '06295',
 '06296',
 '06297',
 '06298',
 '06299',
 '06300',
 '06301',
 '06302',
 '06307',
 '06308',
 '06309',
 '06310',
 '06311',
 '06312',
 '06314',
 '06315',
 '06316',
 '06318',
 '06319',
 '06320',
 '06321',
 '06322',
 '06323',
 '06324',
 '06325',
 '06326',
 '06327',
 '06328',
 '06329',
 '06330',
 '06331',
 '06332',
 '06333',
 '06334',
 '10360',
 '10673',
 '11010',
 '11055',
 '11056',
 '11057',
 '11059',
 '11060',
 '11066',
 '11069',
 '11070',
 '11072',
 '11073',
 '11084',
 '11088',
 '11158',
 '11159',
 '11160',
 '11161',
 '11163',
 '11164',
 '11165',
 '11748',
 '11749',
 '13777',
 '13937',
 '13941',
 '13943',
 '13944',
 '13946',
 '13947',
 '13948',
 '13949',
 '13952',
 '13953',
 '13954',
 '13955',
 '13962',
 '13963',
 '13966',
 '13984',
 '14005',
 '14007',
 '14280',
 '14284',
 '14843',
 '24650',
 '27988',
 '27990',
 '28017',
 '99795'}

## เปลี่ยน type ข้อมูลเป็น String

In [13]:
import numpy as np

### เปลี่ยน user, site, ov, PartitionKey, age เป็นตัวเลขเท่านั้น (int)

โดยการตั้งค่า  error='coerce' จะแปลงค่าที่ไม่ใช่ตัวเลขเป็น  NaN

In [14]:
data_drop['user'] = pd.to_numeric(data_drop['user'], errors='coerce')
data_drop['ov'] = pd.to_numeric(data_drop['ov'], errors='coerce')
data_drop['age'] = pd.to_numeric(data_drop['age'], errors='coerce');

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [15]:
data_drop.dtypes #เช็คไทป์ของข้อมูล

user            float64
RowKey           object
date             object
ov              float64
phone            object
site             object
time             object
urine            object
PartitionKey     object
title            object
age               int64
dtype: object

ตอนนี้จะสังเกตเห็น ค่า NaNโดยที่ประเภทข้อมูลเป็น float

สามารถทำโดยแทนที่ค่า 'NaN' ด้วยค่า '0' โดยใช้ df.replace:

In [16]:
data_drop = data_drop.replace(np.nan, 0, regex=True)
data_drop['user'] = data_drop['user'].astype(int)
data_drop['ov'] = data_drop['ov'].astype(int)
data_drop['age'] = data_drop['age'].astype(int)

In [17]:
data_drop.dtypes #เช็คไทป์ของข้อมูล

user             int64
RowKey          object
date            object
ov               int64
phone           object
site            object
time            object
urine           object
PartitionKey    object
title           object
age              int64
dtype: object

>เปลี่ยน Rowkey phone เเละ urine เป็น String

### เปลี่ยน RowKey, phone, urine, title เป็น String

In [18]:
data_drop = data_drop.astype({'RowKey':'string', 'phone':'string','urine':'string','title':'string'})
data_drop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37764 entries, 191 to 39478
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user          37764 non-null  int64
 1   RowKey        37764 non-null  string
 2   date          37764 non-null  object
 3   ov            37764 non-null  int64
 4   phone         37764 non-null  string
 5   site          37764 non-null  object
 6   time          37764 non-null  object
 7   urine         37764 non-null  string
 8   PartitionKey  37764 non-null  object
 9   title         37764 non-null  string
 10  age           37764 non-null  int64
dtypes: int64(3), object(4), string(4)
memory usage: 3.5+ MB

In [19]:
data_drop

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),00001,นาย,66
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",06334,14:57:41,ปกติ (เหลืองใส),00001,นางสาว,50
...,...,...,...,...,...,...,...,...,...,...,...
39417,26462,cywpeqziic.png,2022-03-21,2,Vivo 1920,11069,13:59:04,ปกติ (เหลืองใส),11005,นาย,28
39418,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,2,"iPhone13,4",11069,13:41:47,ปกติ (เหลืองใส),11006,นาง,72
39419,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21,0,"iPhone13,4",11069,14:17:46,ปกติ (เหลืองใส),11007,นาง,48
39420,26462,vdxxgljykj.png,2022-03-21,1,Vivo V2050,11069,10:54:49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",11008,นาย,36
39478,0,wwpnkeptlc.png,2022-02-26,0,Samsung SM-G998B,13777,01:26:34,สีน้ำนม,12285,นางสาว,22

> กำหนด ov เป็นตัวเลข มีค่าตั้งแต่ 0-4 (0 คือไม่พบโรค 1-4 คือพบโรคที่ระดับความรุนแรงต่างๆ)

In [20]:
set(data_drop['ov'])

{0, 1, 2, 3, 4}

จะเห็นว่า ov เป็นตัวเลข มีค่าตั้งแต่ 0-4 (0 คือไม่พบโรค 1-4 คือพบโรคที่ระดับความรุนแรงต่างๆ) อยู่แล้ว ดังนั้นไม่ต้องแก้ไขอะไร

>กำหนดรูปแบบของ time เป็น hh-mm-ss

In [21]:
data_drop['time'] = data_drop['time'].replace(':','-',regex=True)

In [22]:
data_drop

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,นาย,66
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",06334,14-57-41,ปกติ (เหลืองใส),00001,นางสาว,50
...,...,...,...,...,...,...,...,...,...,...,...
39417,26462,cywpeqziic.png,2022-03-21,2,Vivo 1920,11069,13-59-04,ปกติ (เหลืองใส),11005,นาย,28
39418,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,2,"iPhone13,4",11069,13-41-47,ปกติ (เหลืองใส),11006,นาง,72
39419,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21,0,"iPhone13,4",11069,14-17-46,ปกติ (เหลืองใส),11007,นาง,48
39420,26462,vdxxgljykj.png,2022-03-21,1,Vivo V2050,11069,10-54-49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",11008,นาย,36
39478,0,wwpnkeptlc.png,2022-02-26,0,Samsung SM-G998B,13777,01-26-34,สีน้ำนม,12285,นางสาว,22

In [23]:
data_drop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37764 entries, 191 to 39478
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user          37764 non-null  int64
 1   RowKey        37764 non-null  string
 2   date          37764 non-null  object
 3   ov            37764 non-null  int64
 4   phone         37764 non-null  string
 5   site          37764 non-null  object
 6   time          37764 non-null  object
 7   urine         37764 non-null  string
 8   PartitionKey  37764 non-null  object
 9   title         37764 non-null  string
 10  age           37764 non-null  int64
dtypes: int64(3), object(4), string(4)
memory usage: 3.5+ MB

In [24]:
data_drop['date'] = pd.to_datetime(data_drop['date'], format = "%Y/%m/%d")

In [25]:
data_drop['time'] = data_drop['time'].replace(':','-', regex=True)
data_drop['time'] = pd.to_datetime(data_drop['time'],format='%H-%M%-%S',errors='ignore')

In [26]:
data_drop

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,นาย,66
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",06334,14-57-41,ปกติ (เหลืองใส),00001,นางสาว,50
...,...,...,...,...,...,...,...,...,...,...,...
39417,26462,cywpeqziic.png,2022-03-21,2,Vivo 1920,11069,13-59-04,ปกติ (เหลืองใส),11005,นาย,28
39418,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,2,"iPhone13,4",11069,13-41-47,ปกติ (เหลืองใส),11006,นาง,72
39419,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21,0,"iPhone13,4",11069,14-17-46,ปกติ (เหลืองใส),11007,นาง,48
39420,26462,vdxxgljykj.png,2022-03-21,1,Vivo V2050,11069,10-54-49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",11008,นาย,36
39478,0,wwpnkeptlc.png,2022-02-26,0,Samsung SM-G998B,13777,01-26-34,สีน้ำนม,12285,นางสาว,22

In [27]:
data_drop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37764 entries, 191 to 39478
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user          37764 non-null  int64
 1   RowKey        37764 non-null  string
 2   date          37764 non-null  datetime64[ns]
 3   ov            37764 non-null  int64
 4   phone         37764 non-null  string
 5   site          37764 non-null  object
 6   time          37764 non-null  object
 7   urine         37764 non-null  string
 8   PartitionKey  37764 non-null  object
 9   title         37764 non-null  string
 10  age           37764 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(3), string(4)
memory usage: 3.5+ MB

In [28]:
TF=list()
for each_row in data_drop.iterrows():
    if (10000 < each_row[1]['user'] < 60000):  #each_row คือ ตัวเลข
        TF.append(True)
    else:
        TF.append(False)

data2= data_drop[TF]

In [29]:
data2

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,นางสาว,47
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,นาย,66
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",06334,14-57-41,ปกติ (เหลืองใส),00001,นางสาว,50
196,41340,1C640780-7513-43C0-B1E4-4A535DA468F3,2022-03-30,3,"iPhone14,5",06288,10-28-02,ปกติ (เหลืองใส),00001,นางสาว,57
198,22119,1FBE544D-7313-43EA-95EF-91DAD0513808,2022-04-01,4,"iPhone8,1",06261,15-40-17,ปกติ (เหลืองใส),00001,นาง,50
...,...,...,...,...,...,...,...,...,...,...,...
39416,26462,ieotqfnqcq.png,2022-03-22,1,Vivo 1920,11069,14-03-12,ปกติ (เหลืองใส),11003,นางสาว,33
39417,26462,cywpeqziic.png,2022-03-21,2,Vivo 1920,11069,13-59-04,ปกติ (เหลืองใส),11005,นาย,28
39418,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,2,"iPhone13,4",11069,13-41-47,ปกติ (เหลืองใส),11006,นาง,72
39419,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21,0,"iPhone13,4",11069,14-17-46,ปกติ (เหลืองใส),11007,นาง,48
39420,26462,vdxxgljykj.png,2022-03-21,1,Vivo V2050,11069,10-54-49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",11008,นาย,36

> เปลี่ยนคอลัมน์ title เป็นเพศ

In [30]:
set(data2['title'])   # ดู set ของข้อมูล

{'  นาง',
 ' นาง',
 'Mrs',
 'ด.ช.',
 'ด.ญ.',
 'ด.ต.',
 'น.ส',
 'น.ส ',
 'น.ส.',
 'นส',
 'นส.',
 'นส. ',
 'นาง',
 'นาง ',
 'นางl',
 'นางสาว',
 'นางสาว ',
 'นาบ',
 'นาย',
 'นาย ',
 'นาย  ',
 'นาว',
 'นาวสาว',
 'นา่ง',
 'พจอ.',
 'พระ',
 'พระครุ',
 'พลฯ',
 'ร.ต.',
 'ร.ต.ต.',
 'ว่าที่ร้อยตรี',
 'ืนาง',
 'เด็กชาย',
 'เด็กหญิง'}

In [31]:
data2['title'].replace({'  นาง':'หญิง',
                    ' นาง':'หญิง',
                    ' นางสาว':'หญิง',
                    ' นาย':'ชาย',
                    'Mrs':'หญิง',
                    'ชาย':'ชาย',
                    'ด.ช.':'ชาย',
                    'ด.ญ.':'หญิง',
                    'ด.ต.':'ไม่ระบุ',
                    'น':'ไม่ระบุ',
                    'น.ส':'หญิง',
                    'น.ส ':'หญิง',
                    'น.ส.':'หญิง',
                    'นส':'หญิง',
                    'นส.':'หญิง',
                    'นส. ':'หญิง',
                    'นาง':'หญิง',
                    'นาง ':'หญิง',
                    'นาง.':'หญิง',
                    'นางl':'หญิง',
                    'นางสาว':'หญิง',
                    'นางสาว ':'หญิง',
                    'นางสาว                   ':'หญิง',
                    'นาน':'ชาย',
                    'นาบ':'ชาย',
                    'นาย':'ชาย',
                    'นาย ':'ชาย',
                    'นาย  ':'ชาย',
                    'นาว':'หญิง',
                    'นาวสาว':'หญิง',
                    'นา่ง':'หญิง',
                    'น่าย':'ชาย',
                    'พจอ.':'ไม่ระบุ',
                    'พระ':'ชาย',
                    'พระครุ':'ไม่ระบุ',
                    'พระปลัด':'ไม่ระบุ',
                    'พลฯ':'ไม่ระบุ',
                    'ร.ต.':'ไม่ระบุ',
                    'ร.ต.ต.':'ไม่ระบุ',
                    'ร.ต.ท.':'ไม่ระบุ',
                    'ร.ต.อ.':'ไม่ระบุ',
                    'รต.':'ไม่ระบุ',
                    'ว่าที่ ร.ต.':'ไม่ระบุ',
                    'ว่าที่ ร.ท.':'ไม่ระบุ',
                    'ว่าที่ร้อยตรี':'ไม่ระบุ',
                    0:'ไม่ระบุ',
                    'data is not completed':'ไม่ระบุ',
                    'okp':'ไม่ระบุ',
                    'ส.อ.':'ไม่ระบุ',
                    'ืนาง':'หญิง',
                    'เด็กชาย':'ชาย',
                    'เด็กหญิง':'หญิง'},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [32]:
set(data2['title'])

{'ชาย', 'หญิง', 'ไม่ระบุ'}

In [33]:
data_re = data2.rename(columns={'title':'sex'}) #เปลี่ยนชื่อคอลัมน์
data_re.head(5)

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,sex,age
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,หญิง,47
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,ชาย,66
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",06334,14-57-41,ปกติ (เหลืองใส),00001,หญิง,50
196,41340,1C640780-7513-43C0-B1E4-4A535DA468F3,2022-03-30,3,"iPhone14,5",06288,10-28-02,ปกติ (เหลืองใส),00001,หญิง,57
198,22119,1FBE544D-7313-43EA-95EF-91DAD0513808,2022-04-01,4,"iPhone8,1",06261,15-40-17,ปกติ (เหลืองใส),00001,หญิง,50

In [34]:
data_re.shape #ตรวจสอบขนาด

(17967, 11)

In [35]:
data_01 = data_re

In [36]:
data_01

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,sex,age
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,หญิง,47
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,ชาย,66
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",06334,14-57-41,ปกติ (เหลืองใส),00001,หญิง,50
196,41340,1C640780-7513-43C0-B1E4-4A535DA468F3,2022-03-30,3,"iPhone14,5",06288,10-28-02,ปกติ (เหลืองใส),00001,หญิง,57
198,22119,1FBE544D-7313-43EA-95EF-91DAD0513808,2022-04-01,4,"iPhone8,1",06261,15-40-17,ปกติ (เหลืองใส),00001,หญิง,50
...,...,...,...,...,...,...,...,...,...,...,...
39416,26462,ieotqfnqcq.png,2022-03-22,1,Vivo 1920,11069,14-03-12,ปกติ (เหลืองใส),11003,หญิง,33
39417,26462,cywpeqziic.png,2022-03-21,2,Vivo 1920,11069,13-59-04,ปกติ (เหลืองใส),11005,ชาย,28
39418,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,2,"iPhone13,4",11069,13-41-47,ปกติ (เหลืองใส),11006,หญิง,72
39419,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21,0,"iPhone13,4",11069,14-17-46,ปกติ (เหลืองใส),11007,หญิง,48
39420,26462,vdxxgljykj.png,2022-03-21,1,Vivo V2050,11069,10-54-49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",11008,ชาย,36

## ตารางที่ 2

In [37]:
data_hospital = pd.read_excel(os.path.join(path,'hospital_list.xlsx'))
data_hospital

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

In [38]:
data_hospital = data_hospital[['hcode','name','zone_name','province','amphur','tambon','name5','short_english']]      # เลือกเฉพาะคอลัมน์ที่ต้องการ
print(data_hospital.shape)
data_hospital.head()

(17103, 8)

,hcode,name,zone_name,province,amphur,tambon,name5,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,สาขาพื้นที่(ระยอง),สมุทรปราการ,เมืองสมุทรปราการ,ปากน้ำ,สำนักงานสาธารณสุขจังหวัด,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,สาขาพื้นที่(สระบุรี),นนทบุรี,เมืองนนทบุรี,บางกระสอ,สำนักงานสาธารณสุขจังหวัด,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,สาขาพื้นที่(สระบุรี),ปทุมธานี,เมืองปทุมธานี,บางปรอก,สำนักงานสาธารณสุขจังหวัด,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,สาขาพื้นที่(สระบุรี),พระนครศรีอยุธยา,พระนครศรีอยุธยา,หอรัตนไชย,สำนักงานสาธารณสุขจังหวัด,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,สาขาพื้นที่(สระบุรี),อ่างทอง,เมืองอ่างทอง,บ้านอิฐ,สำนักงานสาธารณสุขจังหวัด,ATG

In [39]:
data_hospital.isnull().sum() # ตรวจสอบหาค่า missing
#.isnull() เพื่อระบุว่านิพจน์มีค่า Null หรือไม่

hcode              0
name               1
zone_name          4
province           0
amphur             2
tambon           209
name5              3
short_english      6
dtype: int64

In [40]:
data_hospital['name'] = data_hospital['name'].fillna('ไม่ระบุ') 
data_hospital['zone_name'] = data_hospital['zone_name'].fillna('ไม่ระบุ') 
data_hospital['amphur'] = data_hospital['amphur'].fillna('ไม่ระบุ') 
data_hospital['tambon'] = data_hospital['tambon'].fillna('ไม่ระบุ') 
data_hospital['name5'] = data_hospital['name5'].fillna('ไม่ระบุ') 
data_hospital['short_english'] = data_hospital['short_english'].fillna('ไม่ระบุ');

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [41]:
data_hospital.isnull().sum() # ตรวจสอบหาค่า missing
#.isnull() เพื่อระบุว่านิพจน์มีค่า Null หรือไม่

hcode            0
name             0
zone_name        0
province         0
amphur           0
tambon           0
name5            0
short_english    0
dtype: int64

In [42]:
data_use = data_01.merge(data_hospital,how='left',left_on='site',right_on='hcode')     # ใช้คำสั่ง merge เพื่อเชื่อมตาราง
data_use.head(10)

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,sex,age,hcode,name,zone_name,province,amphur,tambon,name5,short_english
0,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),00001,หญิง,47,06307,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเกาะ ตำบลบ้านดารา,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,พิชัย,บ้านดารา,โรงพยาบาลส่งเสริมสุขภาพตำบล,UTT
1,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),00001,ชาย,66,05059,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านดอนดู่,สาขาพื้นที่(ขอนแก่น),มหาสารคาม,นาดูน,หัวดง,โรงพยาบาลส่งเสริมสุขภาพตำบล,MKM
2,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",06334,14-57-41,ปกติ (เหลืองใส),00001,หญิง,50,06334,โรงพยาบาลส่งเสริมสุขภาพตำบลน้ำพี้,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,ทองแสนขัน,น้ำพี้,โรงพยาบาลส่งเสริมสุขภาพตำบล,UTT
3,41340,1C640780-7513-43C0-B1E4-4A535DA468F3,2022-03-30,3,"iPhone14,5",06288,10-28-02,ปกติ (เหลืองใส),00001,หญิง,57,06288,โรงพยาบาลส่งเสริมสุขภาพตำบลนางพญา,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,ท่าปลา,นางพญา,โรงพยาบาลส่งเสริมสุขภาพตำบล,UTT
4,22119,1FBE544D-7313-43EA-95EF-91DAD0513808,2022-04-01,4,"iPhone8,1",06261,15-40-17,ปกติ (เหลืองใส),00001,หญิง,50,06261,สถานีอนามัยเฉลิมพระเกียรติ 60 พรรษา นวมินทราชินี,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,เมืองอุตรดิตถ์,งิ้วงาม,โรงพยาบาลส่งเสริมสุขภาพตำบล,UTT
5,19911,22E333B1-A8D4-4FCB-8304-7BD2C3D9C94A,2022-03-30,0,"iPhone12,5",06319,09-32-46,ปกติ (เหลืองใส),00001,ชาย,51,06319,โรงพยาบาลส่งเสริมสุขภาพตำบลนายาง,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,พิชัย,นายาง,โรงพยาบาลส่งเสริมสุขภาพตำบล,UTT
6,59476,2AAA9DE2-24E6-4F41-B02E-0CB610C906C6,2022-03-25,4,"iPhone9,4",05000,11-14-25,สีฟ้า หรือน้ำเงิน,00001,หญิง,47,05000,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านหนองขาม,สาขาพื้นที่(ขอนแก่น),มหาสารคาม,บรบือ,ดอนงัว,โรงพยาบาลส่งเสริมสุขภาพตำบล,MKM
7,18041,3FBB8FE8-F3EE-4307-8E01-406D7A1B2488,2022-03-28,2,"iPhone14,3",11158,10-12-10,ปกติ (เหลืองใส),00001,หญิง,53,11158,โรงพยาบาลตรอน,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,ตรอน,บ้านแก่ง,โรงพยาบาลชุมชน,UTT
8,14360,41AE352F-77A0-4D26-B39C-6A09B39576BA,2022-03-31,0,"iPhone8,2",04405,14-11-05,ปกติ (เหลืองใส),00001,หญิง,25,04405,โรงพยาบาลส่งเสริมสุขภาพตำบลหันโจด,สาขาพื้นที่(ขอนแก่น),ขอนแก่น,หนองสองห้อง,หันโจด,โรงพยาบาลส่งเสริมสุขภาพตำบล,KKN
9,24986,44E5D0C4-9195-47FC-82C3-CF9A711D85AB,2022-03-28,1,"iPhone14,3",06278,11-49-13,ปกติ (เหลืองใส),00001,ชาย,76,06278,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านคีรีทอง,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,ท่าปลา,หาดล้า,โรงพยาบาลส่งเสริมสุขภาพตำบล,UTT

In [43]:
data_use.isnull().sum() # ตรวจสอบหาค่า missing

user             0
RowKey           0
date             0
ov               0
phone            0
site             0
time             0
urine            0
PartitionKey     0
sex              0
age              0
hcode            0
name             0
zone_name        0
province         0
amphur           0
tambon           0
name5            0
short_english    0
dtype: int64

In [44]:
data_use.to_csv(os.path.join(path,'data_use.csv')) # save เข้า drive เพื่อนำไปทำ dashboard

#Dashboard