<a href="https://colab.research.google.com/github/Benza1611/data_viz_2022/blob/main/Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#นำเข้าข้อมูล

In [1]:
import pandas as pd #เรียกใช้งาน pandas
import os #เรียกใช้งาน os

In [2]:
from google.colab import drive #เปิดที่ google colab เรียก drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

##ข้อมูลผู้ป่วย 12/01/2020 - 11/08/2021

In [3]:
data_covid1 = pd.read_csv('/content/drive/My Drive/project2021 data/confirmed-cases.csv') #เข้าไปที่ my drive -> โฟลเดอร์ project2021 data -> confirmed-cases.csv
data_covid1

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
816984,816985,11/8/2021,10/8/2021,หญิง,8.0,ปี,Thailand,สระแก้ว,อยู่ระหว่างการสอบสวน,สระแก้ว,ตาพระยา
816985,816986,11/8/2021,10/8/2021,ชาย,14.0,ปี,Thailand,สระแก้ว,อยู่ระหว่างการสอบสวน,สระแก้ว,ตาพระยา
816986,816987,11/8/2021,10/8/2021,ชาย,59.0,ปี,Thailand,สระแก้ว,อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...,สระแก้ว,อรัญประเทศ
816987,816988,11/8/2021,10/8/2021,หญิง,34.0,ปี,Thailand,สระแก้ว,อื่นๆ,กรุงเทพมหานคร,บางขุนเทียน
816988,816989,11/8/2021,10/8/2021,หญิง,19.0,ปี,Thailand,สระแก้ว,อื่นๆ,พระนครศรีอยุธยา,อุทัย

##ข้อมูลผู้ป่วย 12/08/2021 - 25/10/2021

In [4]:
data_covid2 = pd.read_csv('/content/drive/My Drive/project2021 data/confirmed-cases-since-120864.csv') #เข้าไปที่ my drive -> โฟลเดอร์ project2021 data -> confirmed-cases-since-120864.csv
data_covid2

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,816990,12/8/2021,11/8/2021,ชาย,7.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
1,816991,12/8/2021,11/8/2021,ชาย,1.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
2,816992,12/8/2021,11/8/2021,ชาย,35.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
3,816993,12/8/2021,11/8/2021,หญิง,33.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
4,816994,12/8/2021,11/8/2021,หญิง,14.0,ปี,Thailand,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1042163,1859153,25/10/2021,24/10/2021,ชาย,45.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042164,1859154,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042165,1859155,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042166,1859156,25/10/2021,24/10/2021,ชาย,24.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042167,1859157,25/10/2021,24/10/2021,ชาย,25.0,ปี,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

##ข้อมูลผู้ป่วย 26/10/2021 - 27/02/2022

In [5]:
data_covid3 = pd.read_csv('/content/drive/My Drive/project2021 data/confirmed-cases-since-271064.csv') #เข้าไปที่ my drive -> โฟลเดอร์ project2021 data -> confirmed-cases-since-271064.csv
data_covid3 = data_covid3.drop('Unnamed: 11', axis=1)
data_covid3

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
2,1859160,26/10/2021,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
3,1859161,26/10/2021,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
4,1859162,26/10/2021,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง
...,...,...,...,...,...,...,...,...,...,...,...
1010454,2869612,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010455,2869613,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010456,2869614,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010457,2869615,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010458,2869616,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN

##ข้อมูลผู้ป่วย 28/02/2022 - 18/03/2022

In [6]:
data_covid4 = pd.read_csv('/content/drive/My Drive/project2021 data/confirmed-cases-since-280265.csv') #เข้าไปที่ my drive -> โฟลเดอร์ project2021 data -> confirmed-cases-since-280265.csv
data_covid4

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,28/2/2022,27/2/2022,ชาย,41.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,28/2/2022,27/2/2022,หญิง,45.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
2,2869619,28/2/2022,27/2/2022,หญิง,40.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
3,2869620,28/2/2022,27/2/2022,ชาย,44.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
4,2869621,28/2/2022,27/2/2022,ชาย,11.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [7]:
data_covid = pd.concat([data_covid1,data_covid2,data_covid3,data_covid4])
data_covid

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN

###ดูค่า Missing ของ data_covid

In [8]:
data_covid.isnull().any() ##ดูค่า Missing ในตาราง data_covid

No.                      False
announce_date            False
Notified date             True
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
dtype: bool

### กำจัดค่า Missing

In [9]:
set(data_covid['province_of_isolation']) #ตรวจสอบค่าใน province_of_isolation

{nan,
 'กทม',
 'กระบี่',
 'กรุงเทพมหานคร',
 'กาญจนบุรี',
 'กาฬสินธุ์',
 'กำแพงเพชร',
 'ขอนแก่น',
 'ขอนแก่น\xa0',
 'จันทบุรี',
 'ฉะเชิงเทรา',
 'ชลบุรี',
 'ชัยนาท',
 'ชัยภูมิ',
 'ชุมพร',
 'ตรัง',
 'ตราด',
 'ตาก',
 'นครนายก',
 'นครปฐม',
 'นครพนม',
 'นครราชสีมา',
 'นครศรีธรรมราช',
 'นครสวรรค์',
 'นนทบุรี',
 'นราธิวาส',
 'น่าน',
 'บึงกาฬ',
 'บุรีรัมย์',
 'ปทุมธานี',
 'ประจวบคีรีขันธ์',
 'ปราจีนบุรี',
 'ปัตตานี',
 'พระนครศรีอยุธยา',
 'พะเยา',
 'พังงา',
 'พัทลุง',
 'พิจิตร',
 'พิษณุโลก',
 'ภููเก็ต',
 'ภูเก็ต',
 'มหาสารคาม',
 'มุกดาหาร',
 'ยะลา',
 'ยโสธร',
 'ระนอง',
 'ระยอง',
 'ราชบุรี',
 'ร้อยเอ็ด',
 'ลพบุรี',
 'ลำปาง',
 'ลำพูน',
 'ศรีสะเกษ',
 'สกลนคร',
 'สงขลา',
 'สตูล',
 'สมุทรปราการ',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สระบุรี',
 'สระแก้ว',
 'สิงห์บุรี',
 'สุพรรณบุรี',
 'สุราษฎร์ธานี',
 'สุรินทร์',
 'สุโขทัย',
 'หนองคาย',
 'หนองบัวลำภู',
 'อำนาจเจริญ',
 'อุดรธานี',
 'อุตรดิตถ์',
 'อุทัยธานี',
 'อุบลราชธานี',
 'อ่างทอง',
 'เชียงราย',
 'เชียงใหม่',
 'เพชรบุรี',
 'เพชรบูรณ์',
 'เลย',
 'แพร่',
 'แม่ฮ่องสอน'}

In [10]:
data_covid['province_of_isolation'].replace({'กทม':'กรุงเทพมหานคร','ขอนแก่น\xa0':'ขอนแก่น','ภููเก็ต':'ภูเก็ต'}, inplace=True ) #แทนที่ข้อมูลที่ผิดปกติ

In [11]:
data_covid[['Unit']] = data_covid[['Unit']].fillna('ปี') ##แทนค่า NaN ใน Unit เป็น ปี
data_covid = data_covid.fillna('ไม่ระบุ') ##แทนค่า NaN เป็น ไม่ระบุ

In [12]:
data_covid.isnull().any() ##ดูค่า Missing ในตาราง data_covid

No.                      False
announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
dtype: bool

In [13]:
set(data_covid['province_of_isolation']) #ตรวจสอบค่าใน province_of_isolation

{'กระบี่',
 'กรุงเทพมหานคร',
 'กาญจนบุรี',
 'กาฬสินธุ์',
 'กำแพงเพชร',
 'ขอนแก่น',
 'จันทบุรี',
 'ฉะเชิงเทรา',
 'ชลบุรี',
 'ชัยนาท',
 'ชัยภูมิ',
 'ชุมพร',
 'ตรัง',
 'ตราด',
 'ตาก',
 'นครนายก',
 'นครปฐม',
 'นครพนม',
 'นครราชสีมา',
 'นครศรีธรรมราช',
 'นครสวรรค์',
 'นนทบุรี',
 'นราธิวาส',
 'น่าน',
 'บึงกาฬ',
 'บุรีรัมย์',
 'ปทุมธานี',
 'ประจวบคีรีขันธ์',
 'ปราจีนบุรี',
 'ปัตตานี',
 'พระนครศรีอยุธยา',
 'พะเยา',
 'พังงา',
 'พัทลุง',
 'พิจิตร',
 'พิษณุโลก',
 'ภูเก็ต',
 'มหาสารคาม',
 'มุกดาหาร',
 'ยะลา',
 'ยโสธร',
 'ระนอง',
 'ระยอง',
 'ราชบุรี',
 'ร้อยเอ็ด',
 'ลพบุรี',
 'ลำปาง',
 'ลำพูน',
 'ศรีสะเกษ',
 'สกลนคร',
 'สงขลา',
 'สตูล',
 'สมุทรปราการ',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สระบุรี',
 'สระแก้ว',
 'สิงห์บุรี',
 'สุพรรณบุรี',
 'สุราษฎร์ธานี',
 'สุรินทร์',
 'สุโขทัย',
 'หนองคาย',
 'หนองบัวลำภู',
 'อำนาจเจริญ',
 'อุดรธานี',
 'อุตรดิตถ์',
 'อุทัยธานี',
 'อุบลราชธานี',
 'อ่างทอง',
 'เชียงราย',
 'เชียงใหม่',
 'เพชรบุรี',
 'เพชรบูรณ์',
 'เลย',
 'แพร่',
 'แม่ฮ่องสอน',
 'ไม่ระบุ'}

In [14]:
data_covid

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,ไม่ระบุ,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ
1,2,17/1/2020,ไม่ระบุ,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ
2,3,22/1/2020,ไม่ระบุ,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,ไม่ระบุ,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ
4,5,24/1/2020,ไม่ระบุ,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ
...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,ไม่ระบุ,ปี,ไม่ระบุ,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,ไม่ระบุ
433549,3303166,18/3/2022,17/3/2022,หญิง,ไม่ระบุ,ปี,ไม่ระบุ,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,ไม่ระบุ
433550,3303167,18/3/2022,17/3/2022,หญิง,ไม่ระบุ,ปี,ไม่ระบุ,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,ไม่ระบุ
433551,3303168,18/3/2022,17/3/2022,หญิง,ไม่ระบุ,ปี,ไม่ระบุ,สงขลา,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,ไม่ระบุ
433552,3303169,18/3/2022,17/3/2022,หญิง,ไม่ระบุ,ปี,ไม่ระบุ,สงขลา,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,ไม่ระบุ

##สร้างตารางข้อมูลจังหวัดที่แบ่งเป็นภูมิภาคต่างๆ

In [15]:
t = {'จังหวัด': ['อำนาจเจริญ', 'บึงกาฬ', 'บุรีรัมย์', 'ชัยภูมิ', 'กาฬสินธุ์', 'ขอนแก่น', 'เลย', 'มหาสารคาม', 'มุกดาหาร', 'นครพนม', 'นครราชสีมา', 'หนองบัวลำภู', 'หนองคาย', 'ร้อยเอ็ด', 'สกลนคร', 'ศรีสะเกษ', 'สุรินทร์', 'อุบลราชธานี', 'อุดรธานี', 'ยโสธร','เชียงใหม่', 'เชียงราย', 'ลำปาง', 'ลำพูน', 'แม่ฮ่องสอน', 'น่าน', 'พะเยา', 'แพร่', 'อุตรดิตถ์','ตาก','สุโขทัย', 'พิษณุโลก', 'พิจิตร', 'กำแพงเพชร', 'เพชรบูรณ์','นครสวรรค์', 'อุทัยธานี','อ่างทอง', 'ชัยนาท', 'พระนครศรีอยุธยา', 'กรุงเทพมหานคร', 'ลพบุรี', 'นครปฐม', 'นนทบุรี', 'ปทุมธานี', 'สมุทรปราการ','สมุทรสาคร', 'สมุทรสงคราม','สระบุรี', 'สิงห์บุรี', 'สุพรรณบุรี','นครนายก','ฉะเชิงเทรา', 'จันทบุรี', 'ชลบุรี', 'ปราจีนบุรี', 'ระยอง', 'สระแก้ว', 'ตราด','กาญจนบุรี', 'ราชบุรี','เพชรบุรี', 'ประจวบคีรีขันธ์','ชุมพร', 'นครศรีธรรมราช', 'นราธิวาส', 'ปัตตานี', 'พัทลุง', 'สงขลา', 'สุราษฎร์ธานี', 'ยะลา','กระบี่', 'พังงา', 'ภูเก็ต', 'ระนอง', 'สตูล', 'ตรัง'],
            'lat' : ['15.85000','18.356667','14.99417','15.80556','16.43417','16.43889','17.48528','16.17722','16.54306','17.40694','14.975','17.20417','17.87444','16.05306','17.15639','15.11444','14.88000','15.22806','17.53917','15.79722','18.79028','19.90944','18.28611','18.58639','19.30111','18.78333','19.16528','18.14528','17.62306','16.89667','17.00583','16.81583','16.44306','16.48111','16.42417','15.71333','15.379444','14.59250','15.18722','14.35361','13.72917','14.80000','13.81556','13.85083','14.05000','13.59556','13.54861','13.41972','14.52861','14.89111','14.46750','14.203611','13.69028','12.60861','13.36222','14.05667','12.67417','13.814722','12.30250','14.01944','13.53556','13.11194','11.81667','10.49389','8.43639','6.42639','6.86778','7.61667','7.20611','9.13972','6.54250','8.05917','8.46444','7.88000','10.03917','6.61472','7.55750'],
            'long' : ['104.63333','103.651667','103.10222','102.03111','103.50917','102.82861','101.73028','103.30083','104.72278','104.78083','102.10000','102.44444','102.73833','103.65111','104.14556','104.32028','103.49000','104.85944','102.78444','104.14306','98.96056','99.82750','99.51306','99.01194','97.97000','100.78333','99.90361','100.14194','100.09583','99.01333','99.82639','100.26361','100.34667','99.52222','101.15472','100.13528','100.024722','100.45722','100.12833','100.56917','100.52389','100.62694','100.03722','100.52222','100.48333','100.60722','100.2775','100.00167','100.91139','100.40306','100.11694','101.217222','101.07028','102.10389','100.98333','101.37389','101.27889','102.071944','102.51205','99.53111','99.81333','99.94583','99.80000','99.18000','99.96306','101.81528','101.25000','100.08333','100.59667','99.33056','101.28306','98.91889','98.53167','98.39250','98.6125','100.06806','99.61028'],
            '6 ภูมิภาค (ภูมิศาสตร์)': ['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','ตะวันตก','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันตก','ตะวันตก','ตะวันตก','ตะวันตก','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้'],
            '4 ภูมิภาค (การเมือง)': ['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้'],
            '6 ภูมิภาค (อุตุนิยมวิทยา)': ['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','กลาง','กลาง','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน'],
            '5 ภูมิภาค (การท่องเที่ยว)': ['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','กลาง','กลาง','กลาง','กลาง','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้']
} #นำเข้าข้อมูล จังหวัดและภูมิภาค
data_t = pd.DataFrame.from_dict(t) #สร้างตาราง 
data_t ##เรียกดูตาราง

,จังหวัด,lat,long,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว)
0,อำนาจเจริญ,15.85000,104.63333,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
1,บึงกาฬ,18.356667,103.651667,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
2,บุรีรัมย์,14.99417,103.10222,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
3,ชัยภูมิ,15.80556,102.03111,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
4,กาฬสินธุ์,16.43417,103.50917,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
...,...,...,...,...,...,...,...
72,พังงา,8.46444,98.53167,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
73,ภูเก็ต,7.88000,98.39250,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
74,ระนอง,10.03917,98.6125,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
75,สตูล,6.61472,100.06806,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
76,ตรัง,7.55750,99.61028,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้

###ดูค่า Missing ของ data_t

In [16]:
data_t.isnull().any() ##ดูค่า Missing ในตาราง

จังหวัด                      False
lat                          False
long                         False
6 ภูมิภาค (ภูมิศาสตร์)       False
4 ภูมิภาค (การเมือง)         False
6 ภูมิภาค (อุตุนิยมวิทยา)    False
5 ภูมิภาค (การท่องเที่ยว)    False
dtype: bool

##นำเข้าข้อมูลการเกิด ปี 2020-2021

In [17]:
data_bd = pd.read_csv('/content/drive/My Drive/project2021 data/databirth_20_21.csv') #เข้าไปที่ my drive -> โฟลเดอร์ project2021 data -> databirth_20_21.csv
data_bd

,พื้นที่,ชาย (คน) 2020,หญิง (คน) 2020,รวม (คน) 2020,ชาย (คน) 2021,หญิง (คน) 2021,รวม (คน) 2021
0,กรุงเทพมหานคร,"36,759","34,214","70,973","31,973","29,631","61,604"
1,สมุทรปราการ,"6,348","5,778","12,126","6,040","5,524","11,564"
2,นนทบุรี,"4,172","3,919","8,091","3,928","3,697","7,625"
3,ปทุมธานี,"5,203","4,928","10,131","4,973","4,625","9,598"
4,พระนครศรีอยุธยา,"3,481","3,205","6,686","3,076","2,845","5,921"
...,...,...,...,...,...,...,...
72,ตรัง,"2,859","2,705","5,564","2,595","2,482","5,077"
73,พัทลุง,"1,945","1,774","3,719","1,697","1,707","3,404"
74,ปัตตานี,"5,626","5,307","10,933","5,192","5,091","10,283"
75,ยะลา,"5,232","5,029","10,261","5,073","4,682","9,755"
76,นราธิวาส,"6,115","5,851","11,966","5,798","5,497","11,295"

###ดูค่า Missing ของ data_bd

In [18]:
data_bd.isnull().any() ##ดูค่า Missing ในตาราง

พื้นที่           False
ชาย (คน) 2020     False
หญิง (คน) 2020    False
รวม (คน) 2020     False
ชาย (คน) 2021     False
หญิง (คน) 2021    False
รวม (คน) 2021     False
dtype: bool

#รวมตาราง

In [19]:
covid = data_covid.merge(data_t,how='left',left_on='province_of_isolation',right_on='จังหวัด') #ทำการเชื่อมตาราง 2 ตาราง คือ data_covid และ data_t
covid ##เรียกดูตาราง

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,จังหวัด,lat,long,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว)
0,1,12/1/2020,ไม่ระบุ,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ,กรุงเทพมหานคร,13.72917,100.52389,กลาง,กลาง,กลาง,กลาง
1,2,17/1/2020,ไม่ระบุ,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ,กรุงเทพมหานคร,13.72917,100.52389,กลาง,กลาง,กลาง,กลาง
2,3,22/1/2020,ไม่ระบุ,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง,นครปฐม,13.81556,100.03722,กลาง,กลาง,กลาง,กลาง
3,4,22/1/2020,ไม่ระบุ,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ,กรุงเทพมหานคร,13.72917,100.52389,กลาง,กลาง,กลาง,กลาง
4,5,24/1/2020,ไม่ระบุ,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่ระบุ,นนทบุรี,13.85083,100.52222,กลาง,กลาง,กลาง,กลาง
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3303164,3303165,18/3/2022,17/3/2022,หญิง,ไม่ระบุ,ปี,ไม่ระบุ,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,ไม่ระบุ,กรุงเทพมหานคร,13.72917,100.52389,กลาง,กลาง,กลาง,กลาง
3303165,3303166,18/3/2022,17/3/2022,หญิง,ไม่ระบุ,ปี,ไม่ระบุ,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,ไม่ระบุ,กรุงเทพมหานคร,13.72917,100.52389,กลาง,กลาง,กลาง,กลาง
3303166,3303167,18/3/2022,17/3/2022,หญิง,ไม่ระบุ,ปี,ไม่ระบุ,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,ไม่ระบุ,กรุงเทพมหานคร,13.72917,100.52389,กลาง,กลาง,กลาง,กลาง
3303167,3303168,18/3/2022,17/3/2022,หญิง,ไม่ระบุ,ปี,ไม่ระบุ,สงขลา,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,ไม่ระบุ,สงขลา,7.20611,100.59667,ใต้,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้
3303168,3303169,18/3/2022,17/3/2022,หญิง,ไม่ระบุ,ปี,ไม่ระบุ,สงขลา,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,ไม่ระบุ,สงขลา,7.20611,100.59667,ใต้,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้

In [20]:
Project = covid.merge(data_bd,how='left',left_on='province_of_isolation',right_on='พื้นที่ ') #ทำการเชื่อมตาราง 2 ตาราง คือ covid และ data_bd
Project ##เรียกดูตาราง

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,...,4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว),พื้นที่,ชาย (คน) 2020,หญิง (คน) 2020,รวม (คน) 2020,ชาย (คน) 2021,หญิง (คน) 2021,รวม (คน) 2021
0,1,12/1/2020,ไม่ระบุ,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,...,กลาง,กลาง,กลาง,กรุงเทพมหานคร,"36,759","34,214","70,973","31,973","29,631","61,604"
1,2,17/1/2020,ไม่ระบุ,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,...,กลาง,กลาง,กลาง,กรุงเทพมหานคร,"36,759","34,214","70,973","31,973","29,631","61,604"
2,3,22/1/2020,ไม่ระบุ,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,...,กลาง,กลาง,กลาง,นครปฐม,"3,403","3,184","6,587","3,082","2,974","6,056"
3,4,22/1/2020,ไม่ระบุ,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,...,กลาง,กลาง,กลาง,กรุงเทพมหานคร,"36,759","34,214","70,973","31,973","29,631","61,604"
4,5,24/1/2020,ไม่ระบุ,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,...,กลาง,กลาง,กลาง,นนทบุรี,"4,172","3,919","8,091","3,928","3,697","7,625"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3303164,3303165,18/3/2022,17/3/2022,หญิง,ไม่ระบุ,ปี,ไม่ระบุ,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,...,กลาง,กลาง,กลาง,กรุงเทพมหานคร,"36,759","34,214","70,973","31,973","29,631","61,604"
3303165,3303166,18/3/2022,17/3/2022,หญิง,ไม่ระบุ,ปี,ไม่ระบุ,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,...,กลาง,กลาง,กลาง,กรุงเทพมหานคร,"36,759","34,214","70,973","31,973","29,631","61,604"
3303166,3303167,18/3/2022,17/3/2022,หญิง,ไม่ระบุ,ปี,ไม่ระบุ,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,...,กลาง,กลาง,กลาง,กรุงเทพมหานคร,"36,759","34,214","70,973","31,973","29,631","61,604"
3303167,3303168,18/3/2022,17/3/2022,หญิง,ไม่ระบุ,ปี,ไม่ระบุ,สงขลา,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,...,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้,สงขลา,"8,382","7,735","16,117","7,816","7,334","15,150"
3303168,3303169,18/3/2022,17/3/2022,หญิง,ไม่ระบุ,ปี,ไม่ระบุ,สงขลา,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,...,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้,สงขลา,"8,382","7,735","16,117","7,816","7,334","15,150"

##ดูค่า Missing

In [21]:
Project.isnull().any() ##ดูค่า Missing ในตาราง

No.                          False
announce_date                False
Notified date                False
sex                          False
age                          False
Unit                         False
nationality                  False
province_of_isolation        False
risk                         False
province_of_onset            False
district_of_onset            False
จังหวัด                       True
lat                           True
long                          True
6 ภูมิภาค (ภูมิศาสตร์)        True
4 ภูมิภาค (การเมือง)          True
6 ภูมิภาค (อุตุนิยมวิทยา)     True
5 ภูมิภาค (การท่องเที่ยว)     True
พื้นที่                       True
ชาย (คน) 2020                 True
หญิง (คน) 2020                True
รวม (คน) 2020                 True
ชาย (คน) 2021                 True
หญิง (คน) 2021                True
รวม (คน) 2021                 True
dtype: bool

In [22]:
Project = Project.fillna('ไม่ระบุ') ##แทนค่า NaN เป็น ไม่ระบุ

In [23]:
Project.isnull().any() ##ดูค่า Missing ในตาราง

No.                          False
announce_date                False
Notified date                False
sex                          False
age                          False
Unit                         False
nationality                  False
province_of_isolation        False
risk                         False
province_of_onset            False
district_of_onset            False
จังหวัด                      False
lat                          False
long                         False
6 ภูมิภาค (ภูมิศาสตร์)       False
4 ภูมิภาค (การเมือง)         False
6 ภูมิภาค (อุตุนิยมวิทยา)    False
5 ภูมิภาค (การท่องเที่ยว)    False
พื้นที่                      False
ชาย (คน) 2020                False
หญิง (คน) 2020               False
รวม (คน) 2020                False
ชาย (คน) 2021                False
หญิง (คน) 2021               False
รวม (คน) 2021                False
dtype: bool

In [24]:
Project

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,...,4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว),พื้นที่,ชาย (คน) 2020,หญิง (คน) 2020,รวม (คน) 2020,ชาย (คน) 2021,หญิง (คน) 2021,รวม (คน) 2021
0,1,12/1/2020,ไม่ระบุ,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,...,กลาง,กลาง,กลาง,กรุงเทพมหานคร,"36,759","34,214","70,973","31,973","29,631","61,604"
1,2,17/1/2020,ไม่ระบุ,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,...,กลาง,กลาง,กลาง,กรุงเทพมหานคร,"36,759","34,214","70,973","31,973","29,631","61,604"
2,3,22/1/2020,ไม่ระบุ,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,...,กลาง,กลาง,กลาง,นครปฐม,"3,403","3,184","6,587","3,082","2,974","6,056"
3,4,22/1/2020,ไม่ระบุ,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,...,กลาง,กลาง,กลาง,กรุงเทพมหานคร,"36,759","34,214","70,973","31,973","29,631","61,604"
4,5,24/1/2020,ไม่ระบุ,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,...,กลาง,กลาง,กลาง,นนทบุรี,"4,172","3,919","8,091","3,928","3,697","7,625"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3303164,3303165,18/3/2022,17/3/2022,หญิง,ไม่ระบุ,ปี,ไม่ระบุ,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,...,กลาง,กลาง,กลาง,กรุงเทพมหานคร,"36,759","34,214","70,973","31,973","29,631","61,604"
3303165,3303166,18/3/2022,17/3/2022,หญิง,ไม่ระบุ,ปี,ไม่ระบุ,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,...,กลาง,กลาง,กลาง,กรุงเทพมหานคร,"36,759","34,214","70,973","31,973","29,631","61,604"
3303166,3303167,18/3/2022,17/3/2022,หญิง,ไม่ระบุ,ปี,ไม่ระบุ,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,...,กลาง,กลาง,กลาง,กรุงเทพมหานคร,"36,759","34,214","70,973","31,973","29,631","61,604"
3303167,3303168,18/3/2022,17/3/2022,หญิง,ไม่ระบุ,ปี,ไม่ระบุ,สงขลา,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,...,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้,สงขลา,"8,382","7,735","16,117","7,816","7,334","15,150"
3303168,3303169,18/3/2022,17/3/2022,หญิง,ไม่ระบุ,ปี,ไม่ระบุ,สงขลา,ทัณฑสถาน/เรือนจำ,ไม่ระบุ,...,ใต้,ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย,ใต้,สงขลา,"8,382","7,735","16,117","7,816","7,334","15,150"

In [25]:
Project.to_csv('Project.csv', encoding = 'utf-8')